<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="graphicsstyle.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>hot diggity dog</title>
</head>
<body>
        <div class="graphicBody">
                <nav class="navbar navbar-light bg-light justify-content-between">
                        <a class="navbar-brand">Icon</a>
                        <form class="form-inline">
                          <h3 class="my-2 my-sm-0">Mom</h3>
                        </form>
                      </nav>
                      <div class="container">
                            <div class="row">
                              <div class="col-sm bg-success">
                                Home Page Button
                              </div>
                              <div class="col-sm bg-danger">
                                Graph Button
                              </div>
                              <div class="col-sm bg-info">
                                Calendar Button
                              </div>
                            </div>
                        </div>

                    <div class="container">
                        <div class="row">
                            
                        <div class="col-sm">
                                toggle diaper stats view button
                                </div>
                                <div class="col-sm">
                                toggle feeding state view button
                                </div>
                                <div class="col-sm">
                                toggle sleeping stats view button
                                </div>

                        </div>
                    </div>


                    <div class="image"></div>
           
    

        </div>
    
    


</body>
</html> 