.container {
    position: relative;
}
* {
    margin: 0;
    padding: 0;
}
.topBar {
    background-color: #B9CEF3;
    height: 10vh;
}
.mainLogoIcon {
    background-image: url(./duck_logo_only.png);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-size: cover; 
    background-repeat: none;
}
.mainTitle {
    display: block;
}
.titleText {
    font-size: 4rem;
    text-align: center;
    margin-top: 50px;
}
.user {
    background-color: #B9CEF3;
    text-align: center;
    font-size: 2rem;
    height: 8vh;
}
.userMom {
    margin-top: 50px;
}
.userDad {
    margin-top: 20px;
}
.userCaretaker {
    margin-top: 20px;
}
.flowersImage {
    height: 30vh;
    background-image: url(./sunflower.jpg);
    background-size: cover;
}
.bottomFooter {
    background-color: #B9CEF3;
    height: 5vh;
    text-align: center;
}